<div class="container-fluid resourcesBar">
    <div class="row">
        <div class="resourcesBackground">
            <div class="card-group">
                <div class="card border border-secondary col-sm-2 col-lg-2 mx-2">
                <!-- BEGINNING CARD WATER -->
                <div class="card-header text-center bg-primary ">Water Element</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">WATER</h5>
                        <p class="card-text">0</p>
                        
                    </div>
                </div>
                <!-- END CARD WATER -->
                <!-- BEGINNING CARD FIRE -->
                <div class="card border border-secondary col-sm-2 col-lg-2 mx-2">
                    <div class="card-header text-center bg-danger">Fire Element</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">FIRE</h5>
                        <p class="card-text">0</p>
                        
                    </div>
                </div>
                <!-- END CARD FIRE -->
                <!-- BEGINNING CARD AIR -->
                <div class="card border border-secondary col-sm-2 col-lg-2 mx-2">
                    <div class="card-header text-center bg-success">Air Element</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">AIR</h5>
                        <p class="card-text">0</p>
                        
                    </div>
                </div>
                <!-- END CARD AIR -->
                <!-- BEGINNING CARD EARTH -->
                <div class="card border border-secondary col-sm-2 col-lg-2 mx-2">
                    <div class="card-header text-center bg-earth">Earth Element</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">EARTH</h5>
                        <p class="card-text">0</p>
                        
                    </div>
                </div>
                <!-- END CARD EARTH -->
                <!-- BEGINNING CARD THUNDER -->
                <div class="card border border-secondary col-sm-2 col-lg-2 mx-2">
                    <div class="card-header text-center bg-warning">Thunder Element</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">THUNDER</h5>
                        <p class="card-text">0</p>
                    </div>
                </div>
                <!-- END CARD THUNDER -->
            </div>
        </div>
    </div>
</div>